---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Banner from '../components/banner.astro';
import Nav from '../components/nav.astro';

const baseURL = import.meta.env.BASE_URL;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Saykan Combat</title>
  <base href={baseURL} />
  <link rel="stylesheet" href={`${import.meta.env.BASE_URL}css/styles.css`} />
</head>
<body>
  <Header />
  <Nav />
  <Banner />
  <main>
    <slot />
  </main>
  <Footer />
</body>
</html>
