---

---
<footer>
        <a href="./">Home</a>
        <br>
        <a href="./about">About</a>
        <br>
        <a href="./gallery">Gallery</a>
        <br>
        <a href="./contact">Contact</a>
  <p>&copy; 2025 Saykan Combat. All rights reserved.</p>
  <p>Designed by C</p>
  <strong><a href="mailto:example@example.com">Contact Designer</a></strong>
</footer>