---



--- 

<header>
<picture class="logo">
  <source srcset="images/logo.png" media="(max-width: 400px)" />
  <img src="images/logo.png" alt="Banner Image" style="width: 25%; height: auto;" />
</picture>
  <h1>SAYKAN COMBAT</h1>
  <br>
  </header>