---
import Layout from '../layouts/Layout.astro';


---
<Layout>
    <h1>About</h1>

    <p> Saykan Combat is dedicated to teaching the art of Filipino martial arts, specifically Escrima.
        Our mission is to provide high-quality training that emphasizes practical self-defence techniques,
        physical fitness, and mental discipline. Whether you're a beginner or an experienced martial artist,
        Saykan Combat offers a supportive environment to help you achieve your goals.</p>

        <p><a href="https://fmacombat.wordpress.com/about/">Learn more about Saykan Combat</a></p>

        <table class="table">
            <h2>Pricing</h2>
            <thead>
                <tr>
                    <th>Option</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="dot"><span>First class:</span></td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td class="dot"><span>Afterwards:</span></td>
                    <td>€10 per session</td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <h2>Equipment</h2>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="dot"><span>Kali sticks</span></td>
                    <td>×2</td>
                </tr>
            </tbody>
        </table>
        
</Layout>