---
import Layout from '../layouts/Layout.astro';


---
<Layout>
    <h1>About</h1>

    <p> Saykan Combat is dedicated to teaching the art of Filipino martial arts, specifically Escrima.
        Our mission is to provide high-quality training that emphasizes practical self-defence techniques,
        physical fitness, and mental discipline. Whether you're a beginner or an experienced martial artist,
        Saykan Combat offers a supportive environment to help you achieve your goals.</p>

        <!-- External link for more information -->
        <div class="link">
        <p><a href="https://fmacombat.wordpress.com/about/">Learn more about Saykan Combat</a></p>
        </div>

        <table class="table">
            <h2>Pricing</h2>
            <thead>
                <tr>
                    <th>Option</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>First class:</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td>Afterwards:</td>
                    <td>€10 per session</td>
                </tr>
            </tbody>
        </table>

        <table>
            <h2>Equipment</h2>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Kali sticks</td>
                    <td>&#x78;2</td>
                </tr>
            </tbody>
        </table>

        <!-- Introductory video embedded from YouTube -->
        <h2>Introductory Video</h2>
        <iframe width="560" height="315" 
    src="https://www.youtube.com/embed/G4K3D7YVKcs" 
    title="Saykan Combat Systems: Lesson 1 (12 Striking Angles)" 
    style="border:0;" 
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
</iframe>
        
</Layout>