---
import Layout from '../layouts/Layout.astro';


---

<Layout>
    <h1>Gallery</h1>

    <br>
    <div class="gallery-images">
        <img src={`${import.meta.env.BASE_URL}images/img1.png`} alt="Image 1" />
        <img src={`${import.meta.env.BASE_URL}images/escrima.jpg`} alt="Image 2" />
        <img src={`${import.meta.env.BASE_URL}images/img2.jpg`} alt="Image 3" />
        <img src={`${import.meta.env.BASE_URL}images/img3.jpg`} alt="Image 4" />
    </div>

</Layout>