---
import Layout from '../layouts/Layout.astro';

---

<Layout>
    <h1>Home</h1>

    <p> Exploring the world of Filipino martial arts.
        Saykan Combat—Escrima, also known as Arnis or kali, is primarily a self defence art.
        It is also recognised as the national sport of the Philippines.
        We train in single stick double stick knife and empty hand combat to name just a few.</p>
    
    <h2>Why Choose Saykan Combat?</h2>
    <ol>
        <li>Learn authentic Filipino martial arts techniques</li>
        <li>Develop practical self-defence skills</li>
        <li>Improve fitness, coordination, and discipline</li>
        <li>Train with experienced instructors</li>
        <li>Join a supportive community of martial artists</li>
    </ol>

    <p>Want to submit a request? <a href={`${import.meta.env.BASE_URL}contact`}>Contact us here</a></p>
</Layout>
