---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';



---

<Layout>
    <Header />
    <main>
        <h2>Welcome to Saykan Combat!</h2>
        <p>Your one-stop destination for all things combat sports. Explore our site to learn more about our offerings and get in touch!</p>
    </main>
	
</Layout>
