---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <h1>Home</h1>

    <p> Exploring the world of Filipino martial arts.
        Saykan Combat—Escrima, also known as Arnis or kali, is primarily a self defence art.
        It is also recognised as the national sport of the Philippines.
        We train in single stick double stick knife and empty hand combat to name just a few.</p>
</Layout>
